@import url("https://fonts.google.com/specimen/Nunito+Sans");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dark-theme {
  --mainTextColor: hsl(0, 0%, 100%);
  --primaryColor: hsl(209, 23%, 22%);
  --secondaryColor: hsl(207, 26%, 17%);
  --secondText: hsl(0, 0%, 52%);
  --homepgFont: 14px;
  --detailPagefont: 16px;
  --boxShadow: hsl(200, 15%, 8%);
}
.light-theme {
  --primaryColor: hsl(0, 0%, 100%);
  --secondaryColor: hsl(0, 0%, 98%);
  --mainTextColor: hsl(209, 23%, 22%);
  --secondText: hsl(0, 0%, 52%);
  --homepgFont: 14px;
  --detailPagefont: 16px;
  --boxShadow: hsl(200, 15%, 8%);
}
body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  overflow-x: none;
  color: var(--mainTextColor);
  min-height: 150vh;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primaryColor);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondaryColor);
}
::-webkit-scrollbar-track {
  background-color: var(--secondText);
}
/************************** Loader ********************/

.loader {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 100px);
  background-color: var(--secondaryColor);
  display: none;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  background-color: transparent;
  border: 8px solid var(--secondText);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) forwards infinite;
  border-color: var(--secondText) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

header {
  /* width: 1200px; */
  /* margin: 0 auto; */
  height: 70px;
  background-color: var(--primaryColor);
  box-shadow: 0px 1px 5px 0px var(--boxShadow);
}
.head-row {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theme-div {
  /* border: 1px solid red; */
  cursor: pointer;
}

.head-heading,
.theme {
  color: var(--mainTextColor);
}

.moon {
  width: 100%;
  max-width: 15px;
  fill: var(--mainTextColor);
  position: relative;
  left: -5px;
}
/***************************************************** MAIN SECTION ************************/
main {
  width: 1200px;
  margin: 0 auto;
}
.theme {
  position: relative;
  top: -5px;
}

/**************************** Search Div ***********************/
.sec1-row {
  /* border: 1px solid yellow; */
  margin-top: 2rem;
  padding: 0;

  display: flex;
  justify-content: space-between;
}
.search-div {
  background-color: var(--primaryColor);
  width: 35%;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  height: 40px;
  /* border: 1px solid red; */
}
.search-country {
  width: 90%;
  background-color: var(--primaryColor);
  border: none;
  outline: none;
  /* border: 1px solid yellow; */
  font-size: var(--homepgFont);
  letter-spacing: 0.5px;
  height: 40px;
  color: var(--mainTextColor);
  border-radius: 5px;
}
.search {
  /* border: 1px solid red; */
  width: 100%;
  max-width: 20px;
  cursor: pointer;
  /* fill: var(--primaryColor); */
  fill: var(--mainTextColor);
  background-color: var(--primaryColor);
}

/**************************** Filter Div ***********************/
.filter-div {
  /* border: 1px solid red; */
  width: 15%;
}
#area-region {
  background-color: var(--primaryColor);
  width: 100%;
  padding-left: 0.5rem;
  height: 40px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: var(--mainTextColor);
  cursor: pointer;
}

option {
  background: var(--primaryColor);
  outline: none;
  /* color: var(--white1); */
}

/***************************** SECTION 2 ******************/
.sec2-row {
  /* display: flex;
  flex-wrap: wrap; */
  margin: 0;
  padding: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* border: 1px solid red; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 260px));
  justify-content: space-between;
  gap: 2rem;
}
.country-card {
  /* border: 1px solid yellow; */
  /* margin: 2rem; */
  /* width: 19.5%; */
  /* height: 300px; */
  background-color: var(--primaryColor);
  box-shadow: 0px 0px 3px 1px var(--boxShadow);
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms;
}
.country-card:hover {
  transform: scale(1.03);
}
.country-flag {
  border-radius: 5px;
  width: 100%;
  max-width: 100%;
  box-shadow: 0px 0px 1px 0.05px var(--mainTextColor);
}
.country-name {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 1rem;
  color: var(--mainTextColor);
}
.info-list {
  list-style-type: none;
  padding-left: 1rem;
  margin-top: 1rem;
  padding-bottom: 2rem;
  /* border: 1px solid red; */
}
.info-item {
  color: var(--mainTextColor);
  margin-top: 0.3rem;
  font-size: var(--homepgFont);
  letter-spacing: 0.5px;
}
.info-item span {
  color: var(--secondText);
}
/****************************************************** Country Detail Section ********************/
.country-detail {
  /* margin: 0 auto; */
  /* border: 1px solid blue; */
  margin-top: 2rem;
  width: 80%;
}
.btn {
  font-size: var(--homepgFont);
  background-color: var(--primaryColor);
  padding: 0.3rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  width: max-content;
  box-shadow: 0px 0px 3px 0.05px var(--boxShadow);
  color: var(--mainTextColor);
}
.back-btn {
  padding-top: 0;
}
.back-arrow {
  /* border: 1px solid red; */
  width: 100%;
  max-width: 17px;
  position: relative;
  left: -3px;
  top: 5px;
  fill: var(--mainTextColor);
}
.country-info-row {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.big-flag {
  width: 100%;
  max-width: 100%;
  box-shadow: 0px 0px 2px 0.001px var(--mainTextColor);
}
.country-info-col {
  width: 45%;
}
.country-name2 {
  margin-top: 2rem;
  padding-left: 1rem;
  font-size: 2rem;
  color: var(--mainTextColor);
}
.country-detail-info {
  display: flex;
  justify-content: space-between;
}
.border-div {
  margin-top: 2rem;
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
}
.border-div h4 {
  width: 30%;
  font-size: var(--homepgFont);
  font-weight: normal;
  margin-top: 0.2rem;
  color: var(--mainTextColor);
  padding-top: 0.5rem;
}

.border-div div {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
  overflow-x: auto;
  padding: 0.5rem 0;
}
.border-btn:first-of-type {
  margin-left: 1rem;
}
.border-btn {
  display: inline-block;
  margin-left: 0.5rem;
  color: var(--mainTextColor);
  box-shadow: 0px 0px 3px 0.05px var(--boxShadow);
}
.country-detail {
  display: none;
}
/***************************** Making page Responsive **********************/
@media (max-width: 1199px) {
  main,
  .head-row {
    width: 90%;
    /* border: 1px solid red; */
  }
  .filter-div {
    width: 20%;
  }
  .country-detail {
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media (max-width: 750px) {
  .sec2-row {
    justify-content: center;
  }
  .search-div {
    width: 40%;
  }
  .filter-div {
    width: 25%;
  }
  .country-detail {
    width: 100%;
    margin-bottom: 2rem;
  }
  .country-info-row {
    flex-direction: column;
  }
  .country-info-col {
    width: 100%;
  }
  .country-name2 {
    padding-left: 0;
  }
  .border-div {
    margin-left: 0;
  }
  .detail-list {
    padding-left: 0;
  }
}

@media (max-width: 550px) {
  header {
    height: 50px;
  }

  .head-heading {
    font-size: 1rem;
  }

  .moon {
    left: -2px;
  }

  .btn {
    border-radius: 2px;
    padding: 0.2rem 0.6rem;
  }
  .sec1-row {
    flex-direction: column;
  }
  .sec1-col {
    /* border: 1px solid red; */
    margin-bottom: 1rem;
  }
  .search-div {
    width: 100%;
  }
  .filter-div {
    width: 50%;
  }

  option {
    /* font-size: 10px; */
  }
  .search {
    /* position: relative;
    left: -7px; */
  }
  .country-detail-info {
    flex-direction: column;
  }
  .detail-list {
    padding-bottom: 0rem;
    margin-top: 1rem;
  }
  .info-item {
    margin-top: 0.5rem;
  }
  .border-div {
    flex-direction: column;
  }
  .border-div h4 {
    width: 100%;
  }
  .border-div div {
    width: 100%;
    margin: 0;
    padding: 0.5rem 0.1rem;
    margin-top: 1rem;
    /* border: 1px solid red; */
  }

  .border-btn:first-of-type {
    margin-left: 0;
  }
  .border-div h4 {
    font-weight: bold;
  }
}
